<div class="row">
  <div class="col-md-8">
    <h1><%= t('viewes.access_by_pin_code') %></h1>

    <%= form_for('', method: 'post') do |f| %>
      <div class="form-group">
        <%= f.label t('viewes.pincode') %>
        <%= text_field_tag :pincode, params[:pincode], class: 'form-control buffer-bottom' %>
      </div>

      <div class="actions">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= link_to t('viewes.back'), events_path %>
  </div>
</div>
