<%= form_for [@event, subscription] do |f| %>
    <%= render partial: 'partials/form_errors', locals: {model: subscription} %>

    <% unless user_signed_in? %>
        <div class="form-group">
          <%= f.label :user_name %>
          <%= f.text_field :user_name, class: 'form-control buffer-bottom' %>
        </div>

        <div class="form-group">
          <%= f.label :user_email %>
          <%= f.text_field :user_email, class: 'form-control buffer-bottom' %>
        </div>
    <% end %>

    <% if @event.user != current_user %>
      <h4><%= t('viewes.i_will_go')%></h4>
      <div class="actions">
        <%= f.submit t('viewes.subscribe'), class: 'btn btn-primary' %>
      </div>
    <% end %>

<% end %>
